div.navigation{
    width: 620px;
    margin: 0 auto;
    text-align:center;
    color:#606060;
    font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

div.navigation a{
    text-decoration: none;
    color: #7cb5ec;
}


div.container{
    height: 400px;
    width: 620px;
    margin: 0 auto;
}